main {
    width: 100%;
    max-height: fit-content;
    min-height: calc(100vh - 13rem);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}